body {
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
}

.main-content {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
}

.toc {
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  position: sticky;
  top: 0;
  padding-right: 10px;
}
